<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传测试</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

    <!-- 引用本地的静态资源 -->
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div id="app" i-col="24">
    <p class="title"><a href="uploadDemo1">测试1：前端文件上传（文件名为hash值）</a></p>
    <p class="title"><a href="uploadDemo2">测试2：前端文件上传（自定义路径和文件名）</a></p>
    <p class="title"><a href="uploadDemo3">测试3：后端文件上传（自定义路径和文件名）</a></p>
</div>
</body>
</html>