<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml" lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>后端文件上传测试</title>

    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"/>

    <!-- 引用本地的静态资源 -->
    <link rel="stylesheet" type="text/css" href="css/iview.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/vue.min.js"></script>
    <script type="text/javascript" src="js/vue-clipboard.min.js"></script>
    <script type="text/javascript" src="js/iview.min.js"></script>
    <script type="text/javascript" src="js/axios.min.js"></script>
    <script type="text/javascript" src="js/qiniu.min.js"></script>
</head>

<body>
<div id="app" i-col="24">
    <p class="title">文件后端上传测试　<a href="/">回首页</a></p>

    <div class="upload-borad">
        <div class="demo-spin-container" v-show="loading">
            <Spin fix></Spin>
        </div>

        <Upload
                class="Upload"
                multiple="true"
                type="drag"
                :show-upload-list="showUploadList"
                :before-upload="beforeUpload"
                :on-progress="onProgress"
                :on-success="onSuccess"
                :on-error="onError"

                action="/qiniu/upload">

            <div style="padding: 20px 0">
                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
                <p>后端上传测试：点击选择文件或者将文件拖入此处</p>
            </div>
        </Upload>

        <ul class="ivu-upload-list hoverbox" style="vertical-align: middle">
            <li class="ivu-upload-list-file ivu-upload-list-file-finish" v-for="item in arry">
                <span>
                    <i class="ivu-icon ivu-icon-ios-image"></i>
                    <a v-bind:href="item" target="_blank">
                        　{{item}}　
                        <img v-bind:src="item" class="preview" alt="">
                    </a>
                </span>

                <span @click="copyURL(item)">　复制链接　</span>
                <span @click="copyMdURL('!['+item+']('+item+')')">　复制Markdown格式　</span>
            </li>
        </ul>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            visible: false,
            domain: '',
            protocol: '',
            token: '',
            loading: true,
            showUploadList: false,
            arry: []

        },
        mounted() {
            this.init()
        },
        methods: {
            // 加载页面初始化
            init: function () {
                let that = this;
                that.loading = false
            },
            show: function () {
                this.visible = true;
            },
            beforeUpload: function (file) {
                console.log('file', file);
            },
            onProgress: function (event, file, fileList) {
                console.log(event, file, fileList)
                console.log(this.token)
            },
            onSuccess: function (response, file, fileList) {
                console.log('上传成功', response, file, fileList)
                this.$Notice.success({
                    title: '上传成功',
                    desc: ''
                });
                this.protocol = response.protocol
                this.domain = response.domain
                this.arry.push(this.protocol + "://" + this.domain + '/' + response.key)
            },
            onError: function (error, file, fileList) {
                console.log('上传失败', error, file, fileList)
                this.$Notice.error({
                    title: '上传失败',
                    desc: error
                });
            },
            copyURL: function (e) {
                this.$copyText(e);
                this.$Notice.success({
                    title: '链接复制成功！',
                    desc: e.substr(0, 30) + '...',
                });
            },
            copyMdURL: function (e) {
                this.$copyText(e);
                this.$Notice.success({
                    title: 'Markdown链接复制成功！',
                    desc: e.substr(0, 30) + '...',
                });
            }
        }
    })
</script>
</body>
</html>